@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px 5px;
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}
.notice {
	margin: 0 18px;
}

.form {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.thousandthsSecond {
	font-size: 10px;
}
h1,
h2 {
	text-align: center;
	margin-bottom: 20px;
}
small {
	font-size: 9px;
}

.maxRed {
	color: #dd4b39;
	font-weight: bold;
}
.feedback {
	font-size: 14px;
	width: 100%;
	padding: 5px;
	margin: 5px 0px;
	border: 1px rgb(148, 148, 148) solid;
	border-radius: 4px;
	background: var(--tg-theme-secondary-bg-color);
}
.team__inner {
	font-size: 15px;
	padding: 5px;
	margin: 8px 0px;
	border-radius: 5px;
	background: var(--tg-theme-secondary-bg-color);
}

.blockLogo {
	margin: 5px 0;
	display: flex;
}
.blockLogo__img {
	width: 145px;
	margin-right: 8px;
}
.logoTeamList {
	border-radius: 5px;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}

.team__description {
	text-align: justify;
	margin: 5px 0;
}
.blockLogo__link {
	text-decoration: none;
	color: var(--tg-theme-text-color);
}
.blockLogo__link:hover {
	color: rgb(56, 56, 252);
	transition: 0.2s;
}
