@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px 5px;
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}
.webApp {
	margin: 0 18px;
}

.thousandthsSecond {
	font-size: 10px;
}
h2 {
	text-align: center;
	margin-bottom: 40px;
}

.checkbox {
	position: relative;
	margin-bottom: 30px;
}
.checkbox__input {
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox__switch-right {
	position: absolute;
	display: inline-block;
	width: 35px;
	height: 25px;
	background: #b6c4bb;
	box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
	border-radius: 0px 15px 15px 0px;
	right: 0;
	transition: 0.4s;
}

.checkbox__switch-left {
	position: absolute;
	display: inline-block;
	width: 35px;
	height: 25px;
	background: var(--tg-theme-button-color);
	box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
	border-radius: 15px 0px 0px 15px;
	right: 35px;
	transition: 0.4s;
}
.checkbox__label {
	font-size: 22px;
	cursor: pointer;
}

.checkbox__input:checked + .checkbox__switch-left {
	background: #b6c4bb;
	transition: 0.4s;
}

.checkbox__input:checked + .checkbox__switch-left + .checkbox__switch-right {
	background: var(--tg-theme-button-color);

	transition: 0.4s;
}
