@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px 5px;
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}
.notice {
	margin: 0 18px;
}

.form {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.thousandthsSecond {
	font-size: 10px;
}
h1,
h2 {
	text-align: center;
	margin-bottom: 20px;
}
small {
	font-size: 9px;
}

.maxRed {
	color: #dd4b39;
	font-weight: bold;
}
.feedback {
	font-size: 14px;
	width: 100%;
	padding: 5px;
	margin: 5px 0px;
	border: 1px rgb(148, 148, 148) solid;
	border-radius: 4px;
	background: var(--tg-theme-secondary-bg-color);
}
